* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter";
}

body {
    background-color: #E8EDF2;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7FAFC;
    padding: 15px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373C7D;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #373C7D;
}

.btn {
    background-color: #373C7D;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}





.info-card {
    max-width: 1200px;
    margin: auto;
    border-radius: 5px;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.info-card h2 {
    margin-bottom: 15px;
    color: #000;
}

.info-card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
}

.info-card p {
    line-height: 1.7;
    margin-bottom: 50px;
    color: #373C7D;
}

.info-card ul {
    margin-left: 20px;
    margin-bottom: 40px;
}

.info-card ul li {
    margin-bottom: 8px;
    color: #373C7D;
}










.foot {
    background-color: #373C7D;
    color: white;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-bottom: 30px;
}

.footp {
    text-align: center;
}
















/* 📱 Mobile */
@media (max-width: 600px) {

    .head {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }

    .logo {
        font-size: 22px;
    }

    .btn {
        font-size: 16px;
    }

    .info-card {
        padding: 15px;
        font-size: 16px;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

/* 📱📟 Tablet */
@media (min-width: 601px) and (max-width: 900px) {

    .navbar ul {
        gap: 20px;
        font-size: 18px;
    }

    .info-card {
        padding: 20px;
        font-size: 18px;
    }
}

/* 💻 Laptop */
@media (min-width: 901px) and (max-width: 1200px) {

    .info-card {
        max-width: 1000px;
    }
}

/* 🖥️ Large Screens */
@media (min-width: 1201px) {

    .info-card {
        max-width: 1200px;
    }
}