* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter";
}

body {
    background-color: #E8EDF2;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7FAFC;
    padding: 15px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373C7D;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #373C7D;
}

.btn {
    background-color: #373C7D;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}






.help-wrapper {
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.subtitle {
    color: #5c7db2;
    margin-bottom: 30px;
    font-size: 20px;
}

.section-title {
    margin: 60px 0 10px;
    font-size: 20px;
    font-weight: bold;
}

/* FAQ */
.faq-box details {
    background-color: #f8fbff;
    border: 1px solid #dfe6ee;
    border-radius: 6px;
    padding: 12px 15px;
    margin-bottom: 10px;
}

.faq-box summary {
    cursor: pointer;
    font-size: 20px;
}

.faq-box p {
    margin-top: 10px;
    font-size: 20px;
    color: #555;
}

/* CONTACT */
.contact-box {
    background-color: #f8fbff;
    border-radius: 6px;
    margin-top: 30px;
        font-size: 20px;
        margin-bottom: 100px;

}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e1e7ef;
        font-size: 20px;

}

.contact-row:last-child {
    border-bottom: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    background-color: #e9eff6;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left strong {
    font-size: 20px;
}

.left p {
    font-size: 12px;
    color: #6b7a8a;
}

.right {
    font-size: 13px;
    color: #333;
}

.address {
    max-width: 400px;
    text-align: right;
}
























.foot {
    background-color: #373C7D;
    color: white;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-bottom: 30px;
}

.footp {
    text-align: center;
}