* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter";
}

body {
    background-color: #E8EDF2;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7FAFC;
    padding: 15px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #373C7D;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #373C7D;
}

.btn {
    background-color: #373C7D;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
















.foot {
    background-color: #373C7D;
    color: white;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-bottom: 30px;
}

.footp {
    text-align: center;
}